@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
.container2{
 width: 100%;
 height: 450px;
}
.logo{
 background: url("../img/logo.png") no-repeat center;
 background-size: 100%;
 margin: auto;
 width: 450px;
 height: 450px;
 opacity: 0.3;
}
.separator{
 width: 100%;
 height: 20px;
}
.img{
 vertical-align: text-bottom;
}
.menu{
 font-family: 'Indie Flower', cursive;
 font-weight: bold;
 font-size: 20px;
}
.name{
 font-family: "Indie Flower", cursive;
 font-size: 40px;
 font-weight: bold;
 text-align: center;
 position: relative;
 bottom: 290px;
 left: 10px;
 z-index: 1;
}
.row{
 background: url("../img/bar.png") no-repeat center;
 background-size: 800px 120px;
 }
 .textmenu{
  margin: 20px;
  color: #726B6B;
 }
 .park{
  position: relative;
  left: 50%;
  border: 3px solid black;
  margin-left: -495px;
  bottom: 30px;
 }
 .body{
  background: url("../img/fon.png");
  background-size: cover;
 }
 .bt-style{
  position: relative;
  left: 50%;
  margin-left: -72px;
  background-color: slategray;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
 }
 .separator2{
   width: 100%;
   height: 100px;
  }
  .message{
    background: url("../img/bar.png") no-repeat center;
    background-size: 100%;
    position: relative;
    left: 50%;
    margin: 0 -180px;
    width: 350px;
    color: #726B6B;
  }
  .textmessage{
    position: relative;
    left: 50%;
    margin-left: -110px;
    font-family: 'Indie Flower', cursive;
    font-size: 16px;
  }
  .container3{
    position: relative;
    margin-top: 50px;    
   }
  .car{
   position: absolute;
   width: 100%;
   height: 60px;
   margin: auto;
   z-index: 1;
  }
  .car1{
   position: relative;
   bottom: 375px;
   right: -17px; 
   transform: rotate(-10deg);
   width: 15px;
   height: 30px;
   margin: auto;
   background: url("../img/car1.png") no-repeat;
   z-index: 1;
  }
  .car2{
   position: relative;
   bottom: 370px;
   right: 15px;
   transform: rotate(-10deg);
   width: 15px;
   height: 30px;
   margin: auto;
   background: url("../img/car3.png") no-repeat;
   z-index: 1;
  }
  .car3{
   position: relative;
   bottom: 363px;
   right: 50px;
   transform: rotate(-10deg);
   width: 15px;
   height: 30px;
   margin: auto;
   background: url("../img/car1.png") no-repeat;
   z-index: 1;
  }
  .car4{
   position: relative;
   bottom: 358px;
   right: 80px;
   transform: rotate(-10deg);
   width: 15px;
   height: 30px;
   margin: auto;
   background: url("../img/car2.png") no-repeat;
   z-index: 1;
  }
  .car5{
   position: relative;
   bottom: 352px;
   right: 115px;
   transform: rotate(-10deg);
   width: 15px;
   height: 30px;
   margin: auto;
   background: url("../img/car3.png") no-repeat;
   z-index: 1;
  }
  .car6{
    position: relative;
    bottom: 345px;
    right: 150px;
   transform: rotate(-10deg);
   width: 15px;
   height: 30px;
   margin: auto;
   background: url("../img/car2.png") no-repeat;
   z-index: 1;
  }
  .car7{
   position: relative;
   bottom: 338px;
   right: 183px;
   transform: rotate(-10deg);
   width: 15px;
   height: 30px;
   margin: auto;
   background: url("../img/car1.png") no-repeat;
   z-index: 1;
  }
  .car8{
   position: relative;
   bottom: 320px;
   right: 280px;
   transform: rotate(-10deg);
   width: 15px;
   height: 30px;
   margin: auto;
   background: url("../img/car3.png") no-repeat;
   z-index: 1;
  }
  .car9{
   position: relative;
   bottom: 325px;
   right: 250px;
   transform: rotate(-10deg);
   width: 15px;
   height: 30px;
   margin: auto;
   background: url("../img/car1.png") no-repeat;
   z-index: 1;
  }
  .car10{
   position: relative;
   bottom: 333px;
   right: 215px;
   transform: rotate(-10deg);
   width: 15px;
   height: 30px;
   margin: auto;
   background: url("../img/car1.png") no-repeat;
   z-index: 1;
  }
  .car11{
    position: relative;
   bottom: 250px;
   right: -15px;
   width: 15px;
   height: 30px;
   margin: auto;
   background: url("../img/car2.png") no-repeat;
   z-index: 1;
  }
  .car12{
    position: relative;
    bottom: 250px;
   right: 20px;
   width: 15px;
   height: 30px;
   margin: auto;
   background: url("../img/car1.png") no-repeat;
   z-index: 1;
  }
  .car13{
    position: relative;
    bottom: 250px;
   right: 53px;
   width: 15px;
   height: 30px;
   margin: auto;
   background: url("../img/car3.png") no-repeat;
   z-index: 1;
  }
  .car14{
    position: relative;
    bottom: 250px;
   right: 87px;
   width: 15px;
   height: 30px;
   margin: auto;
   background: url("../img/car1.png") no-repeat;
   z-index: 1;
  }
  .car15{
    position: relative;
    bottom: 250px;
   right: 120px;
   width: 15px;
   height: 30px;
   margin: auto;
   background: url("../img/car3.png") no-repeat;
   z-index: 1;
  }
  .car16{
    position: relative;
    bottom: 250px;
   right: 285px;
   width: 15px;
   height: 30px;
   margin: auto;
   background: url("../img/car3.png") no-repeat;
   z-index: 1;
  }
  .car17{
    position: relative;
    bottom: 250px;
   right: 155px;
   width: 15px;
   height: 30px;
   margin: auto;
   background: url("../img/car2.png") no-repeat;
   z-index: 1;
  }
  .car18{
    position: relative;
    bottom: 250px;
   right: 190px;
   width: 15px;
   height: 30px;
   margin: auto;
   background: url("../img/car1.png") no-repeat;
   z-index: 1;
  }
  .car19{
    position: relative;
    bottom: 250px;
   right: 225px;
   width: 15px;
   height: 30px;
   margin: auto;
   background: url("../img/car2.png") no-repeat;
   z-index: 1;
  }
  .car20{
    position: relative;
    bottom: 250px;
   right: 257px;
   width: 15px;
   height: 30px;
   margin: auto;
   background: url("../img/car3.png") no-repeat;
   z-index: 1;
  }
  .car21{
    position: relative;
   bottom: 346px;
   right: -75px;
   transform: rotate(-90deg);
   width: 15px;
   height: 30px;
   margin: auto;
   background: url("../img/car1.png") no-repeat;
   z-index: 1;
  }
  .car22{
    position: relative;
   bottom: 312px;
   right: -75px;
   transform: rotate(-90deg);
   width: 15px;
   height: 30px;
   margin: auto;
   background: url("../img/car3.png") no-repeat;
   z-index: 1;
  }
  .car23{
    position: relative;
   bottom: 275px;
   right: -75px;
   transform: rotate(-90deg);
   width: 15px;
   height: 30px;
   margin: auto;
   background: url("../img/car2.png") no-repeat;
   z-index: 1;
  }
  .box1{
    position: absolute;
    left: 50%;
  }
  .box2{
    position: absolute;
    left: 50%;
  }
  .box3{
    position: absolute;
    left: 50%;
  }
  .box4{
    position: absolute;
    left: 50%;
  }
  .box5{
    position: absolute;
    left: 50%;
  }
  .box6{
    position: absolute;
    left: 50%;
  }
  .box7{
    position: absolute;
    left: 50%;
  }
  .box8{
    position: absolute;
    left: 50%;
  }
  .box9{
    position: absolute;
    left: 50%;
  }
  .box10{
    position: absolute;
    left: 50%;
  }
  .box11{
    position: absolute;
    left: 50%;
  }
  .box12{
    position: absolute;
    left: 50%;
  }
  .box13{
    position: absolute;
    left: 50%;
  }
  .box14{
    position: absolute;
    left: 50%;
  }
  .box15{
    position: absolute;
    left: 50%;
  }
  .box16{
    position: absolute;
    left: 50%;
  }
  .box17{
    position: absolute;
    left: 50%;
  }
  .box18{
    position: absolute;
    left: 50%;
  }
  .box19{
    position: absolute;
    left: 50%;
  }
  .box20{
    position: absolute;
    left: 50%;
  }
  .box21{
    position: absolute;
    left: 50%;
  }
  .box22{
    position: absolute;
    left: 50%;
  }
  .box23{
    position: absolute;
    left: 50%;
  }

