@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="UTF-8">
    <title>Parking</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css"

</head>

<body class="body">
    <div class="container">
        <div class="row">
            <div class="col-1">
                <a target="blank" href="https://www.instagram.com/psuti_official/"><img src="img/inst.png" width="30" height="30"></a>
                <a target="blank" href="https://vk.com/psuti"><img src="img/vk.png" width="30" height="30"></a>
            </div>
            <div class="col-3">

            </div>
                <div class="col-6 menu">
                   <a class="textmenu" asp-page="">Главная</a>
                   <a class="textmenu" asp-page="">О нас</a>
                   <a class="textmenu" asp-page="">Контакты</a>
                </div>
            <div class="col-1">

            </div>
            <div class="col-1">
                @if (SignInManager.IsSignedIn(User))
                {
                    <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <input type="image" src="img/logout.png" width="30" height="30"/>
                    </form>
                }
                else
                {
                    <a asp-area="Identity" asp-page="/Account/Register" alt="Зарегистрироваться"><img src="img/reg.png" width="30" height="30"></a>
                    <a asp-area="Identity" asp-page="/Account/Login" alt="Войти"><img src="img/login.png" width="30" height="30"></a>
                }
                
            </div>
        </div>
    </div>
    <div class="separator">

    </div>
    <div class="container2">
        <div class="logo">
            
        </div>  
        <div class="name">
            Парковка<p>"Ути ПГУТИ"</p>

        </div> 
    </div>
    <div class="separator2">

    </div>   

    <div class="container3">
        <img class="park" src="img/parkinglux.png">
        <div class="car">
            <div class="box1"><div class="car1"></div></div>
            <div class="box2"><div class="car2"></div></div>
            <div class="box3"><div class="car3"></div></div>
            <div class="box4"><div class="car4"></div></div>
            <div class="box5"><div class="car5"></div></div>
            <div class="box6"><div class="car6"></div></div>
       </div>
    </div>
    <div class="separator2">

    </div>
    <div class="col-12">
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="button">
                <button id='enter' class="bt-style">ЗАНЯТЬ МЕСТО</button>
            </div> 
        }
        <div class="message">

        </div>
    </div>
    <div class="separator2">

    </div>
 
    


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</body>
</html>
